:root{
    --gridList-column: 250px;
    --gridList-rows: 250px;
    --gridList-gap: 6px;
}

* {
    margin: 0;
    top: 0;
    box-sizing: border-box;
}

body{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    
}