:root{
    --gridList-column: 250px;
    --gridList-rows: 250px;
    --gridList-gap: 6px;
}

* {
    margin: 0;
    top: 0;
    box-sizing: border-box;
}

body{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

h1{
    text-align: center;
    color: var(--orange);
    padding: 16px;
}

.card-list{
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(auto-fix, minmax(var(--gridList-column)));
    grid-auto-rows: var(--gridList-rows);
    grid-template-rows: masonry;
    grid-auto-flow: row dense;
    grid-gap: var(--gridList-gap, 6px);
    gap: var(--gridList-gap, 6px);
    align-items: center;
}

.card{
    --cardShadow-size: var(--gridList-gap, 6px);
    margin-bottom: 0.5em;
    position: relative;
}

.card-buttons button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.card-link{
    color: #000;
    display: block;
    text-decoration: none;
    position: relative;
    width: 100%;
}

.card h4{
    background-color: rgb(0, 0, 0, 0.3);
    bottom: 0;
    font-size: 12px;
    color: #fff;
    margin: 0;
    position: absolute;
}

.card img{
    width: 100%;
    object-fit: contain;
    vertical-align: top;
}

.card{
    margin-bottom: 0;
}

.card, .card-link{
    height: 100%;
}

.card-link img{
    height: inherit;
    object-fit: cover;
}

.card:nth-child(5n + 1) img {
    background-color: var(--brand-color_1);
}

.card:nth-child(5n + 2) img {
    background-color: var(--brand-color_2);
}

.card:nth-child(5n + 3) img {
    background-color: var(--brand-color_3);
}

.card:nth-child(5n + 4) img {
    background-color: var(--brand-color_4);
}

.card:nth-child(5n + 5) img {
    background-color: var(--brand-color_5);
}

.card:hover:nth-child(5n + 1) {
    box-shadow: 0 0 0 var(--cardShadow-size) var(--brand-color_1);
}

.card:hover:nth-child(5n + 2) {
    box-shadow: 0 0 0 var(--cardShadow-size) var(--brand-color_2);
}

.card:hover:nth-child(5n + 3) {
    box-shadow: 0 0 0 var(--cardShadow-size) var(--brand-color_3);
}

.card:hover:nth-child(5n + 4) {
    box-shadow: 0 0 0 var(--cardShadow-size) var(--brand-color_4);
}

.card:hover:nth-child(5n + 5) {
    box-shadow: 0 0 0 var(--cardShadow-size) var(--brand-color_5);
}